%table
  %tr
    %th
      = t('inside.section')
    %th
      = t('inside.writer')
    %th
      = t('inside.title')
  %tr
    %td
      Классика жанра
    %td  
      Сватматарма
    %td
      Хатха-йога Прадипикa. Глава 1. Об асане.
    %td
      5
  %tr
    %td
      Техноология просветления
    %td  
      Андрей Сидерский
    %td
      
    %td
      5
      
      